<!--<div class="follow-button">-->
  <% if book.favorite_exist?(current_user) %>
    <%= link_to book_favorites_path(book),method: :delete,remote: true do %>
      <span  class="text-primary">★ <%= book.favorites.count %>いいね</span>
    <% end %>
  <% else %>
    <%= link_to book_favorites_path(book),method: :post,remote: true do %>
      <span class="text-primary">☆ <%= book.favorites.count %>いいね</span>
    <% end %>
  <% end %>
<!--</div>-->