<% if day_posts %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>投稿数</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= day_posts %></td>
    </tr>
  </tbody>
</table>
<% end %>